<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whut_vaccine.dao.ChildMapper">

    <select id="selectChildName" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT childname FROM child WHERE parentid=#{id}
    </select>
    <select id="selectChildState" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT statement FROM child WHERE parentid=#{id}
    </select>
    <select id="getChildCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM child
    </select>

    <insert id="insertChild" parameterType="com.whut_vaccine.domain.Child"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO child (id,childname,parentid,birthday,statement)
        VALUES (#{id},#{childname},#{parentid},#{birthday},#{statement})
    </insert>

    <update id="updateChild" parameterType="com.whut_vaccine.domain.Child" keyProperty="id">
        update child set
          statement=#{statement}
        where childname=#{childname}
    </update>
</mapper>
